.contact-section {
  position: relative;
  color: #fff;
  background-image: url(~images/content/bg_contact_1800.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop {
  background-image: url(~images/content/bg_contact_1200.jpg);
  }

&::after {
  content: url(~images/content/leave.png);
  position: absolute;
  top: -120px;
  right: 0;

  @include tablets {
    right: -200px;
  }
}
}