.contact-section {position: relative;
  color: #fff;
  background-image: url(~images/content/bg_contact_1800.png);
  background-repeat: no-repeat;
  background-size: cover;
  &::after {content: url(~images/content/leave.png);
  position: absolute;
  top: -120px;
  right: 0;}
}