.direction-btn {
  display: flex; 
  flex-direction: column; 
  padding: 20px; 
  background-color: #353e4e;
&:hover {
  cursor: pointer;
  border: 1px solid #d47e1e;}
}
.direction-btn__icon--left {
  transform: rotate(180deg);
  margin-bottom: 0;}
.direction-btn__icon {
  height: 10px;
  width: 7px;
  fill: #fff;
}