.iconed-link {position: relative; margin-left: 30px; line-height: 1;
  color: #586ed3; font-size: 18px;font-weight: 800;
&::before {content: ""; position: absolute; top: 5px; left: -30px;
width: 16px;height: 16px; background: svg-load('link.svg' fill=#586ed3, stroke=#586ed3, height=100%, width=100%); background-repeat: no-repeat;
 }
 &:hover {text-decoration: underline;}
}