.menu__list {
  display: flex;
}

.menu__item {
  transition: color $transition-duration;
  margin-right: 60px;
  font-size: 1rem;
  font-weight: normal;
&:hover {
  color: $main-color;
}
&:last-child {
  margin-right: 0;
}

@include tablets {
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: 600;
}
}