
.reviews__title {
  padding-top: 140px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 100px;}
.reviews__buttons {
  position: absolute;
  left: 40%; top: 140px;
}
.reviews__content {
  width: 70%;
  margin-bottom: 190px;}