.round-btn {background: transparent;
  display: flex; 
  justify-content: center; 
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 20px;
&:hover {
  cursor: pointer;
  border: 1px solid #d47e1e;}
}