.send-btn {
  padding: 35px 120px; 
  max-width: 350px;
  background: linear-gradient(to right, #d47e1e, #dc9322);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
&:hover {
  cursor: pointer;
  background: #d5801e;
  text-decoration: underline;
}
}