.skill {position: relative;
  width: 140px; height: 140px;} 
  .skill__circle {fill: transparent;}
  .skill__circle--bottom {stroke: #454141; stroke-width: 3px;}
  .skill__circle--top {stroke-width: 9px;
    stroke-dasharray: 283;
    stroke-dashoffset: 40;
  }
  .skill__title {position: absolute; top: 50%;left: 50%; transform: translate(-50%, -50%);
  font-size: 18px; font-weight: bold; opacity: 0.5;}

