.socials {
  display: flex;
  }
  .socials__item {margin-right: 40px; opacity: 0.6;
  &:last-child {margin-right: 0;
  }
  }

.socials__icon {
  width: 25px;
  height: 25px;
  fill: #fff;
  ;
}
.footer .socials__item
{display: flex; justify-content: center;align-items: center;
  padding: 15px; border-radius: 50%; border: 1px solid #fff;}
