.socials {
  display: flex;
  }
.socials__item {
  margin-right: 40px; 
  opacity: 0.6; 
  cursor: pointer;
&:last-child {
  margin-right: 0;}
&:hover {
  opacity: 1;}
  }
.socials__item--footer {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 15px; 
  border-radius: 50%; 
  border: 1px solid #fff;
}
.socials__link {margin: 0;
line-height: 0.9;}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: #fff;
}

