.socials {
  display: flex;
  }
.socials__item {
  margin-right: 40px; 
  opacity: 0.6; 
  cursor: pointer;
&:last-child {
  margin-right: 0;}
&:hover {
  opacity: 1;}
  }

.socials__icon {
  width: 1.5625rem;
  height: 1.5625rem;
  fill: #fff;
}
.footer .socials__item {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 15px; 
  border-radius: 50%; 
  border: 1px solid #fff;
}
