.user-info {display: flex;}
.user-info__description {
  font-size: 18px;
font-weight: 600;
opacity: 0.6; 
text-align: right;
margin-right: 60px;

}
.user-info__name {font-size: 72px;
font-weight: 800;line-height: 0.8;}