section.about#about
  .container
    .about__container
      .about__profile
        include ./user.pug
      .about__desc.text
        .about__welcome-text Привет, меня зовут
        h2.about__username Юлия Елкина
        .about__description 
          p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        .about__ps
          .about__ps-text 
            p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!