footer.footer#6
  .container
    .footer__content
      .footer__left
        .footer__copyright
          .copyright 	&copy; 2020
        .footer__author
          .footer__author-name Юлия Елкина
          .footer__author-desc Личный сайт веб-разработчика
      .footer-right
        .footer__menu
          include ./navigation.pug 
        .footer__bottom  
          .footer__text
            .footer__desc Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
            +socials('footer')
          .footer__quote
            .footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            .footer__quote-author Martin Golding
            