section.hero#0
  .container.hero__container
    .hero__content
      h1.hero__info
        .hero__info-desc.text Личный сайт<br> веб-разработчика
        .hero__info-name Юлии <br> &nbsp;Елкиной
    .hero__buttons
      a.hero__btn(href="#1") 
        span.hero__btn-name Скролл
        +icon("scroll", "hero__btn-icon")