.parallax
  .parallax__layer
    +image("parallax/layer_1.png", "", "parallax__image", "presentation")
  .parallax__layer
    +image("parallax/layer_2.png", "", "parallax__image", "presentation")
  .parallax__layer
    +image("parallax/layer_3.png", "", "parallax__image", "presentation")
  .parallax__layer
    +image("parallax/layer_4.png", "", "parallax__image", "presentation")
  .parallax__layer
    +image("parallax/layer_5.png", "", "parallax__image", "presentation")
  .parallax__stopcolor
