ul.posts-slider
  li.posts-slider__item
    .posts-slider__subject 
      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
    .posts-slider__user
      .posts-slider__user-avatar
        +image("content/rw_avatar_1.png", "фотография автора отзыва","posts-slider__user-img")
      .posts-slider__text
        .posts-slider__text-name Ковальчук Дмитрий
        .posts-slider__text-job Основатель Loftschool
  li.posts-slider__item
    .posts-slider__subject 
      p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
    .posts-slider__user
      .posts-slider__user-avatar
        +image("content/rw_avatar_2.png", "фотография автора","posts-slider__user-img")
      .posts-slider__text
        .posts-slider__text-name Сабанцев Владимир
        .posts-slider__text-job Преподаватель
