script(type="text/x-template")#slider-container
  .slider
    display(
      :works="works",
      :currentWork="currentWork",
      :currentIndex="currentIndex",
      @slide="handleSlide"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display    
  .slider__display(:data-slide="currentIndex + 1")
    img(:src="currentWork.photo").slider__display-pic
    btns(
      @slide="direction => $emit('slide', direction)"
    )
    thumbs(
      :works="reversedWorks"
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-btns
    .slider__buttons
      button.slider__btn(type="button" @click.prevent="$emit('slide', 'next')")
        +icon("keyboard-right-arrow-button", "slider__btn-icon")
      button.slider__btn(type="button" @click.prevent="$emit('slide', 'prev')")
        +icon("keyboard-right-arrow-button", "slider__btn-icon slider__btn-icon--left")
   
script(type="text/x-template")#slider-thumbs
    ul.slider__previews
      li.slider__previews-item(
        v-for="work in works" :key="work.id"
        :class="{active: currentWork.id === work.id }"
      )
        button.slider-previews__link
          img(:src="work.photo" alt="").slider__previews-pic

script(type="text/x-template")#slider-info
  .slider__info
    tags(
      :tagsArray="tagsArray"
    )
    .slider__info-text
      h4.slider__info-title {{currentWork.title}}
      .slider__info-desc 
        p {{currentWork.desc}}
    .slider__info-buttons
      a(:href="currentWork.link").slider__info-link Посмотреть сайт
      
script(type="text/x-template")#slider-tags
  .slider__tags
    ul.taglist
      li.taglist__item(v-for="tag in tagsArray")
        .tag {{tag}}
