section.values#values
  .container.values__container
    .values__title
      h3.values__title-text Чем я могу быть полезен вам
      .values__title-desc.text 
        p За время обучения в LoftSchool я освоила много полезных навыков разработчика и планирую развиваться дальше
    .values__content
      #skills-component