include ./mixins.pug
include ./components/socials.pug


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      include ./components/header.pug
      main.content
        .welcome-section
          include ./components/parallax.pug

          include ./components/hero.pug

          include ./components/about.pug

        include ./components/values.pug
                          

        include ./components/portfolio.pug
     
        .contact-section
          include ./components/reviews.pug


          include ./components/contacts.pug
      include ./components/footer.pug
      
    include ./entry.pug
            

        
        